/* Override Foundry's default logo */
#logo {
  padding: 50px 100px 0px 0px;
  background: url('systems/crysborg/icons/logo/ewn4oc2.png') center/contain no-repeat !important;
  width: 100px;  /* Adjust size as needed */
  height: 50px;  /* Adjust size as needed */
  border: none;
  flex: 0 0 100px;
  margin: 5px;
  object-fit: contain;
}