{{!-- Obituary Tab --}}
<div class="tab class-tab" data-group="primary" data-tab="obituary">
  {{editor data.system.description target="system.description" button=true
  owner=owner editable=true engine="prosemirror"}}
  {{#if @root.isGM}}
  <div class="form-group gm-description">
    <label>{{ localize "MB.GMDescription" }}</label>
    {{editor flags.crysborg.gmdescription target="flags.crysborg.gmdescription" button=true owner=owner editable=true engine="prosemirror"}}
  </div>
  {{/if}}
</div>
