<div class="tab" data-group="primary" data-tab="description">
  {{#if @root.isGM}}
    {{editor data.system.description target="system.description" button=true
    owner=owner editable=true engine="prosemirror"}}
  {{else}}
    {{{data.system.description}}}
  {{/if}}
</div>
